@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">The Tudor Plate</h1>
    <p>
        Nestled in a building with roots stretching back to the 1700s, The Tudor Plate combines old-world charm with a contemporary culinary experience. Our restaurant’s story is woven into the town’s history, with tales of lively gatherings, local legends, and the occasional skirmish—like the infamous autumn evening in 1845 when a disagreement among local farmhands made headlines.

        Fast-forward to today, and The Tudor Plate has evolved into an award-winning dining destination. With Gold Awards from the Chester Food and Drink Festival in both 2007 and 2008, our chefs are dedicated to making every meal a celebration of flavor and tradition.

        Step into The Tudor Plate, where the warmth of the past meets the best of modern cuisine.
    </p>
</div>
